@import "sass/abstracts/mixins";
@import "sass/abstracts/variables";

@import "sass/base/reset";
@import "sass/base/typography";
@import "sass/base/base";

@import "sass/component/header";
@import "sass/component/hero";
@import "sass/component/about";
@import "sass/component/advs";
@import "sass/component/departments";
@import "sass/component/activities";
@import "sass/component/news";
@import "sass/component/teachers";
@import "sass/component/testimonials";
@import "sass/component/banner";
@import "sass/component/media";
@import "sass/component/clients";
@import "sass/component/footer";
@import "sass/component/breadcrumb";
@import "sass/component/activities-archive";
@import "sass/component/single-activity";
@import "sass/component/news-archive";
@import "sass/component/single-news";
@import "sass/component/single-news-slider";
@import "sass/component/teachers-archive";
@import "sass/component/single-teacher";
@import "sass/component/testimonials-archive";
@import "sass/component/media-archive";
@import "sass/component/client-archive";
@import "sass/component/media-four";
