@mixin center {
  .activity-slide {
    position: relative;
    border-radius: 88px;
    border: 4px solid lighten($color: $setting_primary_color, $amount: 40%);
    overflow: hidden;
    aspect-ratio: 367/448;
    max-width: 367px;
    @include md {
      border-radius: 56px;
    }

    .img-cover {
      display: flex;
    }
    .activity-banner {
      position: absolute;
      bottom: 16px;
      left: 50%;
      transform: translateX(-50%);
      width: calc(100% - 32px);
      height: auto;
      background: rgba(255, 255, 255, 0.7);
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      gap: 12px;
      padding: 30px 37px;
      border-radius: 176px;
      border: 2px solid #ffffff;
      @include md {
        padding: 20px 25px;
        gap: 8px;
      }
      .banner-title {
        font-size: 20px;
        font-weight: $weight_bold;
        color: darken($color: $setting_primary_color, $amount: 30%);
        margin: 0;
        text-align: center;
        transform: rotate(0);
      }
      .banner-text {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        gap: 10px;
        .banner-desc {
          font-size: 18px;
          font-weight: $weight_regular;
          color: #242424;
          margin: 0;
          text-align: center;
          @include md {
            font-size: 16px;
          }
        }
        .banner-link {
          font-size: 16px;
          font-weight: $weight_semibold;
          color: $setting_primary_color;
          margin: 0;
          text-align: center;
          text-decoration: underline;
        }
      }
    }
  }
}
@mixin normal {
  .activity-slide {
    position: relative;
    border-radius: 88px;
    border: 2px solid #ffffff;
    overflow: hidden;
    aspect-ratio: 173/372;
    max-width: 173px;
    .img-cover {
      display: flex;
    }
    .activity-banner {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: calc(100% - 110px);
      height: calc(100% - 130px);
      background: rgba(255, 255, 255, 0.7);
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 30px 20px 30px 15px;
      border-radius: 48px;
      border: none;
      .banner-title {
        font-size: 20px;
        font-weight: $weight_bold;
        color: darken($color: $setting_primary_color, $amount: 30%);
        margin: 0;
        text-align: center;
        transform: rotate(-90deg);
        white-space: nowrap;
      }
      .banner-text {
        display: none;
      }
    }
  }
}
.activities {
  background-color: lighten($color: $setting_primary_color, $amount: 50%);
  padding: 80px 0;
  @include sm {
    padding: 40px 0;
  }
}
.activities-cont {
  position: relative;
}
.activities-heaader {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 24px;
  margin-bottom: 32px;
  @include md {
    gap: 12px;
  }
  .activites-title {
    font-size: 40px;
    font-weight: $weight_bold;
    color: #010101;
    margin: 0;
    text-align: center;
    @include xs {
      font-size: 32px;
    }
  }
  .activites-desc {
    font-size: 18px;
    font-weight: $weight_regular;
    color: #535353;
    margin: 0;
    text-align: center;
    max-width: 412px;
    @include xs {
      font-size: 16px;
    }
  }
}
.swiper-wrapper {
  align-items: center;
}
.activites-Swiper {
  position: relative;
  .swiper-slide {
    width: fit-content;
    @include lg {
      @include normal;
    }
    @include md {
      @include center;
    }
    &.active-a {
      @include lg {
        // @include center;
      }
    }
  }
}

.activity-item {
  position: relative;

  //   input[name="activity"] {
  //     position: absolute;
  //     inset: 0;
  //     z-index: 11;
  //     opacity: 0;

  //       &:checked {
  //         + .activity-slide {
  //           position: relative;
  //           border-radius: 88px;
  //           border: 4px solid lighten($color: $setting_primary_color, $amount: 40%);
  //           overflow: hidden;
  //           aspect-ratio: 367/448;
  //           max-width: 367px;
  //           .img-cover {
  //             display: flex;
  //           }
  //           .activity-banner {
  //             position: absolute;
  //             bottom: 16px;
  //             left: 50%;
  //             transform: translateX(-50%);
  //             width: calc(100% - 32px);
  //             height: auto;
  //             background: rgba(255, 255, 255, 0.7);
  //             display: flex;
  //             align-items: center;
  //             justify-content: center;
  //             flex-direction: column;
  //             gap: 12px;
  //             padding: 30px 37px;
  //             border-radius: 176px;
  //             border: 2px solid #ffffff;
  //             .banner-title {
  //               font-size: 20px;
  //               font-weight: $weight_bold;
  //               color: darken($color: $setting_primary_color, $amount: 30%);
  //               margin: 0;
  //               text-align: center;
  //               transform: rotate(0);
  //             }
  //             .banner-text {
  //               display: flex;
  //               align-items: center;
  //               justify-content: center;
  //               flex-direction: column;
  //               gap: 10px;
  //               .banner-desc {
  //                 font-size: 18px;
  //                 font-weight: $weight_regular;
  //                 color: #242424;
  //                 margin: 0;
  //                 text-align: center;
  //               }
  //               .banner-link {
  //                 font-size: 16px;
  //                 font-weight: $weight_semibold;
  //                 color: $setting_primary_color;
  //                 margin: 0;
  //                 text-align: center;
  //                 text-decoration: underline;
  //               }
  //             }
  //           }
  //         }
  //       }
  //   }
  .activites-Swiper .swiper-slide-next + .swiper-slide & {
    @include lg {
      @include center;
    }
  }
}

.activities-cont {
  .swiper-pagination {
    position: relative;
    margin-top: 50px;
    display: none;
    @include md {
      display: flex;
      justify-content: center;
    }
  }
  .swiper-pagination-bullet-active {
    background-color: $setting_primary_color;
  }
  .swiper-button-prev,
  .swiper-button-next {
    width: 64px;
    height: 64px;
    background-color: $setting_primary_color;
    display: flex;
    align-items: center;
    justify-content: center;
    aspect-ratio: 1;
    border-radius: 50%;
    top: 60%;
    border: 2.67px solid $setting_primary_color;
    &::after {
      color: #fff;
      font-size: 26px;
    }
    @include md {
      display: none;
    }
  }
  .swiper-button-prev {
    left: -80px;
    &::after {
      transform: translateX(-2px);
    }
  }

  .swiper-button-next {
    right: -80px;
    &::after {
      transform: translateX(2px);
    }
  }
  .swiper-button-disabled {
    opacity: 1 !important;
    background-color: #fff;
    &::after {
      color: $setting_primary_color;
    }
  }
}
