.breadcrumb-content {
  position: relative;
  .breadcrumb-img {
    aspect-ratio: 1440/255;
    width: 100%;
    position: relative;
    @include xs {
      aspect-ratio: 1440/500;
    }
    &::after {
      position: absolute;
      content: "";
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      background: linear-gradient(
        180deg,
        rgba($setting_primary_color, 0) 0%,
        rgba($setting_primary_color, 0.16) 43.95%,
        rgba(darken($setting_primary_color, 10%), 0.9) 100%
      );
    }
    .img-cover {
      object-position: 50% 20%;
    }
  }
  .page-title {
    position: absolute;
    bottom: -1px;
    left: 50%;
    transform: translateX(-50%);
    margin: 0;
    @include fontStyle(
      24px,
      $weight_bold,
      darken($color: $setting_primary_color, $amount: 30%)
    );
    z-index: 3;
    background-color: #f0f0f0;
    padding: 22px 60px 4px;
    clip-path: polygon(10% 0, 90% 0, 100% 100%, 0% 100%);
    @include md {
      padding: 14px 30px 3px;
    }
    @include xs {
      font-size: 18px;
      padding: 10px 25px 3px;
    }
  }
}
