.clients {
  padding: 70px 0;
  @include sm {
    padding: 20px 0;
  }
}
.clients-cont {
  overflow: hidden;
  position: relative;
  box-shadow: 0px 16px 48px 0px rgba(0, 0, 0, 0.04);
  border-radius: 48px;
  border: 1px solid lighten($color: $setting_primary_color, $amount: 50%);
  padding: 90px 64px 50px;
  @include lg {
    width: 100%;
    aspect-ratio: 1140/724;
    position: relative;
  }
  @include sm {
    border-radius: 28px;
    padding: 40px 26px 25px;
  }
  @include xs {
    border-radius: 20px;
    padding: 30px 15px 25px;
  }
  .clients-svg1 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 65%;
    z-index: -1;
    @include md {
      display: none;
    }
  }
  .clients-svg2 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 87%;
    z-index: -1;
    @include md {
      display: none;
    }
  }
}
.clients-text {
  @include flexCenter;
  flex-direction: column;
  gap: 24px;
  text-align: center;
  max-width: 420px;
  margin: 0 auto 115px;
  @include md {
    margin-bottom: 60px;
  }
  @include sm {
    margin-bottom: 40px;
    gap: 12px;
  }
  .title {
    @include fontStyle(40px, $weight_bold, #001533);
    @include sm {
      font-size: 32px;
    }
    @include xs {
      font-size: 28px;
    }
  }
  .desc {
    @include fontStyle(18px, $weight_regular, #535353);
    @include sm {
      font-size: 16px;
    }
    @include xs {
      font-size: 14px;
    }
  }
  .clients-btn {
    color: #fff;
    background-color: $setting_primary_color;
    padding: 0 85px;
    height: 48px;
    @include flexCenter;
    border-radius: 32px;
    width: fit-content;
    font-size: 16px;
    font-weight: $weight_semibold;
    z-index: 5;
    @include sm {
      padding: 0 70px;
    }
  }
}
.clients-group {
  @include flexCenter;
  flex-direction: column;
  gap: 40px;

  @include sm {
    gap: 25px;
  }
}
.clients-row {
  @include flexCenter;
  @include md {
    gap: 20px;
  }
  @include sm {
    flex-wrap: wrap;
  }
  .client-img {
    width: 118px;
    aspect-ratio: 1;
    border-radius: 50%;
    border: 2px solid lighten($color: $setting_primary_color, $amount: 50%);
    transition: all 0.3s ease-in-out;
    overflow: hidden;
    box-shadow: 4.6px 0px 4.6px 0px #0000000a;
    @include lg {
      position: absolute;
    }
    &:hover {
      border: 2px solid lighten($color: $setting_primary_color, $amount: 30%);
      .img-cover {
        transform: rotate(12deg);
      }
    }
  }
}
.row1 {
  .client-img {
    @include lg {
      &:nth-of-type(1) {
        // transform: translate(33px, -266px);
        top: 396px;
        left: 520px;
      }
      &:nth-of-type(2) {
        // transform: translate(62px, -116px);
        top: 370px;
        left: 689px;
      }
      &:nth-of-type(3) {
        // transform: translate(50px, -26px);
        top: 370px;
        left: 360px;
      }
      &:nth-of-type(4) {
        // transform: translate(0, 0);
        top: 277px;
        left: 820px;
      }
      &:nth-of-type(5) {
        // transform: translate(-50px, -26px);
        top: 277px;
        left: 212px;
      }
      &:nth-of-type(6) {
        // transform: translate(-62px, -116px);
        top: 132px;
        left: 905px;
      }
      &:nth-of-type(7) {
        // transform: translate(-33px, -266px);
        top: 132px;
        left: 134px;
      }
    }
  }
}
.row2 {
  .client-img {
    @include lg {
      &:nth-of-type(1) {
        // transform: translate(85px, -216px);
        top: 556px;
        left: 520px;
      }
      &:nth-of-type(2) {
        // transform: translate(67px, -93px);
        top: 530px;
        left: 674px;
      }
      &:nth-of-type(3) {
        // transform: translate(34px, -26px);
        top: 522px;
        left: 353px;
      }
      &:nth-of-type(4) {
        // transform: translate(0, 0);
        top: 463px;
        left: 828px;
      }
      &:nth-of-type(5) {
        // transform: translate(-34px, -26px);
        top: 447px;
        left: 186px;
      }
      &:nth-of-type(6) {
        // transform: translate(-67px, -93px);
        top: 344px;
        left: 957px;
      }
      &:nth-of-type(7) {
        // transform: translate(-85px, -216px);
        top: 336px;
        left: 64px;
      }
    }
  }
}
