.clients-archive {
  padding: 88px 0 0;
  @include sm {
    padding: 30px 0 0;
  }
}
.clients-archive-cont {
  overflow: hidden;
  .swiper {
    overflow: visible;
  }
}
.clients-archive-slide {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  gap: 20px;
  margin: 10px;
  @include md {
    grid-template-columns: repeat(7, 1fr);
  }
  @include sm {
    grid-template-columns: repeat(5, 1fr);
    gap: 10px;
  }
  @include xs {
    grid-template-columns: repeat(4, 1fr);
  }
}
.clients-archive {
  .client-img {
    width: 100%;
    aspect-ratio: 1;
    border-radius: 50%;
    border: 2px solid lighten($color: $setting_primary_color, $amount: 50%);
    transition: all 0.3s ease-in-out;
    overflow: hidden;
    box-shadow: 4.6px 0px 4.6px 0px #0000000a;
    padding: 4px;
    @include sm {
      //   width: 100px;
    }
    .img-cover {
      display: flex;
      border-radius: 50%;
    }
    &:hover {
      border: 2px solid lighten($color: $setting_primary_color, $amount: 30%);
      .img-cover {
        transform: rotate(12deg);
      }
    }
  }
}
