.media {
  padding: 140px 0 70px;
  @include sm {
    padding: 40px 0 20px;
  }
}

.media-cont {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 20px;
  aspect-ratio: 1140/640;
  @include md {
    gap: 12px;
  }
  @include sm {
    gap: 8px;
  }
  @include xs {
    aspect-ratio: unset;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(6, 1fr);
  }
}
.sq-img {
  //   aspect-ratio: 270/200;
  border-radius: 16px;
  overflow: hidden;
  box-shadow: 0px 4px 12px 0px #00000014;
  display: block;
  @include xs {
    border-radius: 8px;
  }
  .img-cover {
    display: flex;
  }
  .media-four & {
    width: 100%;
    height: 100%;
  }
}
.media-btn {
  @include flexCenter;
  background-color: $setting_primary_color;
  @include fontStyle(22px, $weight_semibold, #fff);
  border-radius: 50%;
  aspect-ratio: 1;
  padding: 0 34px;
  @include md {
    padding: 20px;
  }
  @include sm {
    padding: 10px;
    font-size: 18px;
  }
  .media-four & {
    max-width: 155px;
    font-size: 17px;
    padding: 0;
    width: 100%;
    border: 2.18px solid #ffffff;
    @include sm {
      max-width: 120px;
    }
  }
}
.media-text {
  background: radial-gradient(
    50% 50% at 50% 50%,
    darken($color: $setting_primary_color, $amount: 5%) 0%,
    darken($color: $setting_primary_color, $amount: 25%) 100%
  );
  @include fontStyle(40px, $weight_bold, #fff);
  display: flex;
  align-items: center;
  border-radius: 16px;
  padding: 0 25px;
  box-shadow: 0px 4px 12px 0px #00000014;
  @include sm {
    font-size: 20px;
  }
  .media-four & {
    width: calc(24% - 0px);
    aspect-ratio: 270/200;
    @include xs {
      width: calc(50% - 4px);
      border-radius: 8px;
    }
  }
}
.vid {
  border-radius: 16px;
  //   aspect-ratio: 560/420;
  overflow: hidden;
  position: relative;
  border: 2px solid rgba(255, 255, 255, 1);
  @include xs {
    border-radius: 8px;
  }
  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(22, 15, 101, 0.6);
  }
  .img-cover {
    display: flex;
  }
  .media-video {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 59px;
    aspect-ratio: 1;
    border-radius: 50%;
    background-color: #ff9000;
    @include flexCenter;
    border: 4px solid #ffffff33;
    z-index: 3;
    @include xs {
      width: 50px;
    }
    .play-icon {
      transform: translate(2px, 3px);
      @include xs {
        max-width: 18px;
      }
    }
  }
}
.media-cont {
  .div2 {
    grid-column-start: 4;
    grid-row-start: 3;
    @include flexCenter;
    @include xs {
      grid-column-start: 2;
      grid-row-start: 6;
    }
  }

  .div3 {
    grid-column-start: 4;
    grid-row-start: 2;
    @include xs {
      grid-column-start: 2;
      grid-row-start: 1;
    }
  }

  .div4 {
    grid-column-start: 4;
    grid-row-start: 1;
    @include xs {
      grid-column-start: 2;
      grid-row-start: 2;
    }
  }

  .div5 {
    grid-column-start: 3;
    grid-row-start: 1;
    @include xs {
      grid-column-start: 1;
      grid-row-start: 2;
    }
  }

  .div6 {
    grid-column-start: 2;
    grid-row-start: 1;
    @include xs {
      grid-column-start: 2;
      grid-row-start: 5;
    }
  }

  .div7 {
    grid-column-start: 1;
    grid-row-start: 1;
    @include xs {
      grid-column-start: 1;
      grid-row-start: 1;
    }
  }

  .div8 {
    grid-column-start: 1;
    grid-row-start: 2;
    @include xs {
      grid-column-start: 1;
      grid-row-start: 5;
    }
  }

  .div9 {
    grid-column-start: 1;
    grid-row-start: 3;
    @include xs {
      grid-column-start: 1;
      grid-row-start: 6;
    }
  }

  .div10 {
    grid-column: span 2 / span 2;
    grid-row: span 2 / span 2;
    grid-column-start: 2;
    grid-row-start: 2;
    @include xs {
      grid-column: span 2 / span 2;
      grid-row: span 2 / span 2;
      grid-column-start: 1;
      grid-row-start: 3;
    }
  }
}
