@mixin lg {
  @media (min-width: 1200px) {
    @content;
  }
}

@mixin md {
  @media (max-width: 1199px) {
    @content;
  }
}

@mixin sm {
  @media (max-width: 991px) {
    @content;
  }
}

@mixin xs {
  @media (max-width: 767px) {
    @content;
  }
}

@mixin xxs {
  @media (max-width: 575px) {
    @content;
  }
}

@mixin ltr {
  html[dir="ltr"] & {
    @content;
  }
}
@mixin rtl {
  html[dir="rtl"] & {
    @content;
  }
}
@mixin fontStyle($size: 16px, $weight: 400, $color: #000) {
  font-size: $size;
  font-weight: $weight;
  color: $color;
}
@mixin flexCenter($align: center, $justify: center) {
  display: flex;
  align-items: $align;
  justify-content: $justify;
}
