@media (max-width: 767px) {
  :root {
    --border-radius: var(--mobile-radius);
  }
}
/* General Resets */
body {
  margin: 0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

input,
button,
a,
select,
textarea {
  font-family: inherit;
}

input:focus,
button:focus,
a:focus,
select:focus,
textarea:focus {
  outline: 0;
}

input::-moz-placeholder {
  color: inherit;
}

input::placeholder {
  color: inherit;
}

a,
a:hover,
a:focus {
  text-decoration: none;
}

button {
  border: none;
  background: none;
  outline: 0;
  font-family: inherit;
}

a,
img,
button,
input,
select {
  transition: all 0.3s ease;
}

[role=button] {
  cursor: pointer;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.img-fluid {
  max-width: 100%;
  height: auto;
}

button {
  cursor: pointer;
}

input {
  -moz-appearance: textfield;
}
input::-webkit-outer-spin-button, input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input::-ms-clear {
  display: none;
  width: 0;
  height: 0;
}
input::-ms-reveal {
  display: none;
  width: 0;
  height: 0;
}
input::-webkit-search-decoration, input::-webkit-search-cancel-button, input::-webkit-search-results-button, input::-webkit-search-results-decoration {
  display: none;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.fa-snapchat::before {
  content: "\f2ac";
}

.fa-facebook::before {
  content: "\f39e";
}

.fa-linkedin::before {
  content: "\f0e1";
}

.la-snapchat::before {
  content: "\f2ac";
}

.la-facebook::before {
  content: "\f39e";
}

.la-linkedin::before {
  content: "\f0e1";
}

body {
  font-family: "Vazirmatn", sans-serif;
  font-weight: 400;
  line-height: 1.4;
  color: #3e3e3e;
}

html {
  scroll-behavior: smooth;
  scrollbar-width: thin;
  scrollbar-color: #1263dc #f2f2f2;
}

body::-webkit-scrollbar {
  background-color: #f2f2f2;
  width: 8px;
  height: 4px;
}
body::-webkit-scrollbar-thumb {
  background-color: #1263dc;
  border-radius: 4px;
}

.overflow {
  overflow: hidden;
}

.container {
  padding: 0 20px;
  margin: 0 auto;
  width: 100%;
  max-width: 1180px;
}

.container-fluid {
  padding: 0 30px;
  width: 100%;
}
@media (max-width: 1199px) {
  .container-fluid {
    padding: 0 20px;
  }
}

.select-content {
  position: relative;
}
.select-content::after {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  inset-inline-end: 28px;
  font-size: 14px;
  color: #3e3e3e;
  font-family: "Line Awesome Free";
  font-weight: 900;
  content: "\f107";
}

.img-contain {
  max-width: 100%;
  max-height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.img-cover {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.en {
  display: inline-block;
  direction: ltr;
}

iframe {
  width: 100%;
  height: 100%;
}

.hero-cont {
  position: relative;
  overflow: hidden;
  margin-bottom: 70px;
}
@media (max-width: 991px) {
  .hero-cont {
    margin-bottom: 40px;
  }
}
.hero-cont .hero-slide {
  width: 100%;
  aspect-ratio: 1440/680;
  position: relative;
  z-index: 1;
}
.hero-cont .hero-slide::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 2;
  background: linear-gradient(180deg, rgba(18, 99, 220, 0) 0%, rgba(18, 99, 220, 0.16) 43.95%, rgba(14.1428571429, 77.7857142857, 172.8571428571, 0.9) 100%);
}
@media (max-width: 767px) {
  .hero-cont .hero-slide {
    aspect-ratio: 1440/1000;
  }
}
.hero-cont .swiper-pagination {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 3;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  gap: 6px;
  width: -moz-fit-content;
  width: fit-content;
  padding: 0 56px 10px;
}
@media (max-width: 767px) {
  .hero-cont .swiper-pagination {
    height: 30px;
    padding: 0 20px 10px;
  }
}
.hero-cont .swiper-pagination::after {
  position: absolute;
  content: "";
  left: 0;
  bottom: -1px;
  width: 100%;
  height: 100%;
  background-color: #fff;
  clip-path: polygon(10% 0, 90% 0, 100% 100%, 0% 100%);
}
.hero-cont .swiper-pagination .swiper-pagination-bullet {
  color: #1263dc;
  margin: 0;
  width: 32px;
  background-color: transparent;
  z-index: 4;
  position: relative;
}
@media (max-width: 767px) {
  .hero-cont .swiper-pagination .swiper-pagination-bullet {
    width: 25px;
  }
}
.hero-cont .swiper-pagination .swiper-pagination-bullet.swiper-pagination-bullet-active {
  width: 66px;
}
@media (max-width: 767px) {
  .hero-cont .swiper-pagination .swiper-pagination-bullet.swiper-pagination-bullet-active {
    width: 45px;
  }
}
.hero-cont .swiper-pagination .swiper-pagination-bullet::before {
  position: absolute;
  content: "";
  bottom: -20px;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  height: 8px;
  background-color: #1263dc;
  border-radius: 4px;
}
@media (max-width: 767px) {
  .hero-cont .swiper-pagination .swiper-pagination-bullet::before {
    bottom: -16px;
  }
}
.hero-cont .hero-banner {
  position: absolute;
  z-index: 5;
  left: 50%;
  transform: translateX(-50%);
  bottom: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  padding: 35px;
  border-radius: 48px;
  width: 100%;
  max-width: 1140px;
  backdrop-filter: blur(2px);
  background-color: rgba(145, 185.5, 246, 0.1);
  border: 1px solid #fff;
}
@media (max-width: 1199px) {
  .hero-cont .hero-banner {
    max-width: 1000px;
    padding: 20px;
  }
}
@media (max-width: 991px) {
  .hero-cont .hero-banner {
    border-radius: 32px;
    max-width: 700px;
    bottom: 60px;
  }
}
@media (max-width: 767px) {
  .hero-cont .hero-banner {
    width: calc(100% - 10px);
    padding: 5px;
    bottom: 35px;
    border-radius: 25px;
  }
}
.hero-cont .hero-banner .title {
  color: #fff;
  font-size: 40px;
  font-weight: 700;
  max-width: 707px;
}
@media (max-width: 991px) {
  .hero-cont .hero-banner .title {
    font-size: 28px;
    max-width: 70%;
  }
}
@media (max-width: 767px) {
  .hero-cont .hero-banner .title {
    font-size: 16px;
  }
}
.hero-cont .hero-banner .hero-btn {
  width: 142px;
  aspect-ratio: 1;
  border-radius: 50%;
  color: #fff;
  background-color: #1263dc;
  border: 1px solid #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  transition: all 0.5s ease-in-out;
}
.hero-cont .hero-banner .hero-btn:hover {
  background-color: #fff;
  color: #1263dc;
  border-color: #1263dc;
}
@media (max-width: 991px) {
  .hero-cont .hero-banner .hero-btn {
    width: 100px;
    font-size: 14px;
  }
}
@media (max-width: 767px) {
  .hero-cont .hero-banner .hero-btn {
    width: 70px;
    font-size: 10px;
  }
}/*# sourceMappingURL=main.css.map */